---
  extends: airbnb/legacy
  env:
    node: true
  parserOptions:
    sourceType: strict
  rules:
    comma-dangle: 0
    no-underscore-dangle: 0
    func-names: 0
    id-length: 0
    vars-on-top: 0
    no-unused-expressions: 0
    prefer-arrow-callback: 0
    no-use-before-define:  [2, "nofunc"]
    max-len: [2, 120, 2]
    arrow-parens: [2, "always"]
    new-cap: 0
    indent: 0
    no-console: 2
    strict: [2, "global"]
    eqeqeq: [2, "allow-null"]
    yoda: 0
    block-scoped-var: 0
    no-param-reassign: 0
