node_modules
npm-debug*
lerna-debug.log
.cursorrules
nodejs-license-report.csv
docker-compose.yaml
coverage
/db2
*.tgz
.vscode
currency-report.md
*.zip
*instruction*.md
eslint-report.json

# CI
node-modules*.tar
node-modules*.tar.zst

example-apps/eum-serverless-collector/website.txt
example-apps/eum-serverless-collector/public/instana-sdk.js
example-apps/eum-serverless-collector/public/instana-eum.js
example-apps/eum-serverless-collector/.angular

.github/workflows/.secrets

bin/vulnerability/app
.npm-offline-cache
