# IBM DB Fix https://github.com/ibmdb/node-ibm_db/issues/1009
# As long as our DB2 Instance on IBM Cloud only supports v11,
# we need to force the installation of the v11.5.9 driver.
clidriver=v11.5.9