language: node_js
sudo: required
services:
  - docker

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

node_js:
  - v0.12
  - v4
  - v5
  - v6
  - v7

before_script:
  - docker-compose up -d
  - sleep 10

after_failure:
  - docker ps
  - docker-compose logs

env:
  global:
    - ELASTICSEARCH=127.0.0.1:9200
    - MONGODB=127.0.0.1:27017
    - ZOOKEEPER=127.0.0.1:2181
    - KAFKA=127.0.0.1:9092
    - CXX=g++-4.8
