version: '2'
services:
  redis:
    image: redis:7.4.3
    ports:
      - 6379:6379

  redis-node-0:
    image: docker.io/bitnami/redis-cluster:7.2
    environment:
      - 'ALLOW_EMPTY_PASSWORD=yes'
      - 'REDIS_NODES=172.30.0.2:6379 172.30.0.3:6379 172.30.0.4:6379'
      - 'REDIS_CLUSTER_CREATOR=yes'
      - 'REDIS_CLUSTER_REPLICAS=0'
      - 'BITNAMI_DEBUG=1'
      - 'REDIS_CLUSTER_SLEEP_BEFORE_DNS_LOOKUP=10'
    ports:
      - 6380:6379
    networks:
      redis-cluster-network:
        ipv4_address: 172.30.0.2

  redis-node-1:
    image: docker.io/bitnami/redis-cluster:7.2
    environment:
      - 'ALLOW_EMPTY_PASSWORD=yes'
      - 'REDIS_NODES=172.30.0.2:6379 172.30.0.3:6379 172.30.0.4:6379'
    ports:
      - 6381:6379
    networks:
      redis-cluster-network:
        ipv4_address: 172.30.0.3      

  redis-node-2:
    image: docker.io/bitnami/redis-cluster:7.2
    environment:
      - 'ALLOW_EMPTY_PASSWORD=yes'
      - 'REDIS_NODES=172.30.0.2:6379 172.30.0.3:6379 172.30.0.4:6379'
    ports:
      - 6382:6379
    networks:
      redis-cluster-network:
        ipv4_address: 172.30.0.4      


  redis-slave:
    image: redis:7.4.3
    network_mode: host
    command:
      [
        'redis-server',
        '--replicaof',
        '127.0.0.1',
        '6379',
        '--port',
        '6380',
      ]

  redis-sentinel:
    image: redis:7.4.3
    network_mode: host
    command: >
      sh -c 'echo "sentinel monitor mymaster 127.0.0.1 6379 1" > /etc/sentinel.conf &&
            echo "sentinel down-after-milliseconds mymaster 1000" >> /etc/sentinel.conf &&
            echo "sentinel failover-timeout mymaster 5000" >> /etc/sentinel.conf &&
            echo "sentinel parallel-syncs mymaster 1" >> /etc/sentinel.conf &&
            echo "sentinel resolve-hostnames no" >> /etc/sentinel.conf &&
            redis-server /etc/sentinel.conf --sentinel'

  mongo:
    image: mongo:8.0.8
    ports:
      - 27017:27017

  couchbase:
    image: couchbase/server:7.1.4
    hostname: couchbase
    ports:
      - '8091-8096:8091-8096'
      - '11210:11210'

  # Elasticsearch 7 compatible with client v7
  # elasticsearch:
  #  image: docker.elastic.co/elasticsearch/elasticsearch:7.6.2
  #  ports:
  #    - 9200:9200
  #  environment:
  #    discovery.type: single-node
  #    ES_JAVA_OPTS: "-Xms500m -Xmx500m"

  # Elasticsearch 9 compatible with client v7 & v9
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.0.0
    ports:
      - 9200:9200
    environment:
      discovery.type: single-node
      ES_JAVA_OPTS: "-Xms500m -Xmx500m"
      xpack.security.enabled: 'false'

  zookeeper:
    # The latest Zookeeper image is not functioning properly on ARM64.
    # For local testing, stick to the fixed version until the issue is resolved.
    # TODO: INSTA-32550.
    image: zookeeper:3.9.1
    platform: linux/amd64
    ports:
      - 2181:2181

  kafka:
    image: wurstmeister/kafka:2.13-2.8.1
    platform: linux/amd64
    ports:
      - 9092:9092
      - 29092:29092
    depends_on:
      - "zookeeper"
    hostname: kafka0
    environment:

      KAFKA_LISTENERS: EXTERNAL://:9092,PLAINTEXT://:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka0:29092,EXTERNAL://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      # Leave the internal listener mapped as PLAINTEXT to avoid issues in schema-registry:
      # https://github.com/confluentinc/schema-registry/issues/648#issuecomment-398032429
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_CREATE_TOPICS: "test:1:1,test-topic-1:1:1,test-topic-2:1:1,test-batch-topic-1:1:1,test-batch-topic-2:1:1,rdkafka-topic:1:1,kafka-avro-topic:1:1"
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./bin:/nodejs-collector-bin
    command: ["/nodejs-collector-bin/wait-for-it.sh", "-s", "-t", "120", "zookeeper:2181", "--", "start-kafka.sh"]

  schema-registry:
    image: confluentinc/cp-schema-registry:4.1.0
    platform: linux/amd64
    hostname: schema-registry
    depends_on:
      - "kafka"
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL: "zookeeper:2181"
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: "PLAINTEXT://kafka0:29092"
      SCHEMA_REGISTRY_HOST_NAME: schema-registry

  mysql:
    image: mysql:8.0.26
    platform: linux/amd64
    ports:
      - 3306:3306
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: nodepw
      MYSQL_DATABASE: nodedb
      MYSQL_USER: node
      MYSQL_PASSWORD: nodepw
      MYSQL_ROOT_HOST: 0.0.0.0
    volumes:
      - ./packages/collector/test/tracing/database/mysql/conf.d:/etc/mysql/conf.d

  postgres:
    image: postgres:10.5
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: node
      POSTGRES_PASSWORD: nodepw
      POSTGRES_DB: nodedb

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-RC1-ubuntu-20.04
    platform: linux/amd64
    ports:
      - 1433:1433
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: stanCanHazMsSQL1
      MSSQL_PID: Express

  rabbitmq:
    image: rabbitmq:3.7.8-alpine
    ports:
      - 5671:5671
      - 5672:5672

  nats:
    image: nats:2.9.14-linux
    ports:
      - 4222:4222
      - 6222:6222
      - 8222:8222

  nats-streaming:
    image: nats-streaming:0.25.3-linux
    command: -p 4223 -m 8223
    ports:
      - 4223:4223
      - 8223:8223

  memcached:
    image: memcached:1.6.9
    ports:
      - 11211:11211

  # https://hub.docker.com/r/ibmcom/db2
  db2:
    image: ibmcom/db2
    platform: linux/amd64
    privileged: true
    ports:
      - 58885:50000
    environment:
      - PERSISTENT_HOME=false
      - DBNAME=nodedb
      - BLU=false
      - HADR_ENABLED=false
      - ENABLE_ORACLE_COMPATIBILITY=false
      - UPDATEAVAIL=NO
      - SAMPLEDB=false
      - REPODB=false
      - IS_OSXFS=false
      - LICENSE=accept
      - DB2INSTANCE=node
      - DB2INST1_PASSWORD=nodepw
      - DB2_CREATE_DB_ON_PATH=true
      - STARTUP_MODE=restoreIfNotExists
    volumes:
       - ./db2/database:/database
       - ./db2/db2_data:/db2_data

  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME:-localstack-main}"
    image: localstack/localstack:latest
    hostname: localstack
    ports:
      - "4566:4566"            # LocalStack Gateway
      - "4510-4559:4510-4559"  # external services port range
    environment:
      - DEBUG=${DEBUG-}
      - DOCKER_HOST=unix:///var/run/docker.sock 
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"

networks:
  redis-cluster-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/16