# See https://circleci.com/docs/2.0/language-javascript/ for docs.

version: 2

shared: &shared
  working_directory: ~/repo

  environment:
    - ELASTICSEARCH=127.0.0.1:9200
    - MONGODB=127.0.0.1:27017
    - ZOOKEEPER=127.0.0.1:2181
    - KAFKA=127.0.0.1:9092
    - REDIS=127.0.0.1:6379
    - MYSQL_HOST=127.0.0.1
    - MYSQL_PORT=3306
    - MYSQL_USER=node
    - MYSQL_PW=nodepw
    - MYSQL_DB=nodedb
    - POSTGRES_HOST=127.0.0.1
    - POSTGRES_USER=node
    - POSTGRES_PASSWORD=nodepw
    - POSTGRES_DB=nodedb

  steps:
    - checkout
    - run: node --version
    - run: npm --version

    - restore_cache:
        keys:
          - v3-root-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package-lock.json" }}
          - v3-root-dependencies-{{ .Environment.CIRCLE_JOB }}-
    - restore_cache:
        keys:
          - v3-core-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "packages/core/package-lock.json" }}
          - v3-core-dependencies-{{ .Environment.CIRCLE_JOB }}-
    - restore_cache:
        keys:
          - v3-collector-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "packages/collector/package-lock.json" }}
          - v3-collector-dependencies-{{ .Environment.CIRCLE_JOB }}-
    - restore_cache:
        keys:
          - v3-babel-typescript-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "packages/collector/test/apps/babel-typescript/package-lock.json" }}
          - v3-babel-typescript-dependencies-{{ .Environment.CIRCLE_JOB }}-
    - restore_cache:
        keys:
          - v3-legacy-sensor-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "packages/legacy-sensor/package-lock.json" }}
          - v3-legacy-sensor-dependencies-{{ .Environment.CIRCLE_JOB }}-
    - restore_cache:
        keys:
          - v3-aws-lambda-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "packages/aws-lambda/package-lock.json" }}
          - v3-aws-lambda-dependencies-{{ .Environment.CIRCLE_JOB }}-
    - restore_cache:
        keys:
          - v3-aws-lambda-auto-wrap-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "packages/aws-lambda-auto-wrap/package-lock.json" }}
          - v3-aws-lambda-auto-wrap-dependencies-{{ .Environment.CIRCLE_JOB }}-

    - run: npm install
    - run: ls -la packages/collector/node_modules

    # When running tests in Node.js 8, we pin grpc to exactly 1.10.1.
    # For more recent Node.js versions (>= 10) we use the latest 1.x as stated in package.json. We can't use grcp@1.10.1
    # in Node.js 10 since it fails to build under Node.js >= 10. We still want to explicitly test the combination of
    # Node.js 8 with grpc@1.10.1 for reasons.
    - run: '([[ $(node -v) =~ ^v8.*$ ]] && npm install grpc@1.10.1) || true'

    - save_cache:
        paths:
          - node_modules
        key: v3-root-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package-lock.json" }}
    - save_cache:
        paths:
          - packages/core/node_modules
        key: v3-core-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "packages/core/package-lock.json" }}
    - save_cache:
        paths:
          - packages/collector/node_modules
        key: v3-collector-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "packages/collector/package-lock.json" }}
    - save_cache:
        paths:
            - packages/legacy-sensor/node_modules
        key: v3-legacy-sensor-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "packages/legacy-sensor/package-lock.json" }}
    - save_cache:
        paths:
            - packages/aws-lambda/node_modules
        key: v3-aws-lambda-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "packages/aws-lambda/package-lock.json" }}
    - save_cache:
        paths:
            - packages/aws-lambda-auto-wrap/node_modules
        key: v3-aws-lambda-auto-wrap-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "packages/aws-lambda-auto-wrap/package-lock.json" }}

    # Only run audit with the most recent Node.js version - one Node version is enough (plus Node 12.7.0 is the first
    # Node version that brings a new new enough npm as its default npm version to support the --production flag
    # for npm audit.
    - run: '([[ $(node -v) =~ ^v14.*$ ]] && npm run audit) || [[ ! $(node -v) =~ ^v14.*$ ]]'
    # Run linting first, we don't want to wait ages for the test suite to finish only to end with the CI job with a
    # linting error.
    - run: npm run lint
    - run: npm test

    - save_cache:
        paths:
          - packages/collector/test/apps/babel-typescript/node_modules
        key: v3-babel-typescript-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "packages/collector/test/apps/babel-typescript/package-lock.json" }}

elasticsearch: &elasticsearch
  - image: docker.elastic.co/elasticsearch/elasticsearch:7.6.2
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms500m -Xmx500m"

kafka: &kafka
  - image: wurstmeister/kafka:2.12-2.2.1
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1
      KAFKA_CREATE_TOPICS: "test:1:1,test-topic-1:1:1,test-topic-2:1:1,test-batch-topic-1:1:1,test-batch-topic-2:1:1"
      KAFKA_ZOOKEEPER_CONNECT: 127.0.0.1:2181

mongo: &mongo
  - image: circleci/mongo:4.1.13

mssql: &mssql
  - image: microsoft/mssql-server-linux:2017-CU13
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: stanCanHazMsSQL1

mysql: &mysql
  - image: circleci/mysql:8.0.1
    environment:
      MYSQL_ROOT_PASSWORD: nodepw
      MYSQL_DATABASE: nodedb
      MYSQL_USER: node
      MYSQL_PASSWORD: nodepw
      MYSQL_ROOT_HOST: 0.0.0.0

postgres: &postgres
  - image: circleci/postgres:10.9-alpine
    environment:
      POSTGRES_USER: node
      POSTGRES_PASSWORD: nodepw
      POSTGRES_DB: nodedb

rabbitmq: &rabbitmq
  - image: circleci/rabbitmq:3.7.7

redis: &redis
  - image: circleci/redis:4.0.14-alpine

zookeeper: &zookeeper
  - image: wurstmeister/zookeeper:latest

nats: &nats
  - image: nats:2.0.2-linux

nats-streaming: &nats-streaming
  - image: nats-streaming:0.15.1-linux
    command: -p 4223 -m 8223
    ports:
      - 4223:4223
      - 8223:8223

jobs:
  "node-14":
    docker:
      - image: circleci/node:14
      - <<: *zookeeper
      - <<: *elasticsearch
      - <<: *mongo
      - <<: *redis
      - <<: *kafka
      - <<: *mysql
      - <<: *postgres
      - <<: *mssql
      - <<: *rabbitmq
      - <<: *nats
      - <<: *nats-streaming
    <<: *shared

  "node-12":
    docker:
      - image: circleci/node:12
      - <<: *zookeeper
      - <<: *elasticsearch
      - <<: *mongo
      - <<: *redis
      - <<: *kafka
      - <<: *mysql
      - <<: *postgres
      - <<: *mssql
      - <<: *rabbitmq
      - <<: *nats
      - <<: *nats-streaming
    <<: *shared

  "node-10":
    docker:
      - image: circleci/node:10
      - <<: *zookeeper
      - <<: *elasticsearch
      - <<: *mongo
      - <<: *redis
      - <<: *kafka
      - <<: *mysql
      - <<: *postgres
      - <<: *mssql
      - <<: *rabbitmq
      - <<: *nats
      - <<: *nats-streaming
    <<: *shared

  "node-8":
    docker:
      - image: circleci/node:8
      - <<: *zookeeper
      - <<: *elasticsearch
      - <<: *mongo
      - <<: *redis
      - <<: *kafka
      - <<: *mysql
      - <<: *postgres
      - <<: *mssql
      - <<: *rabbitmq
      - <<: *nats
      - <<: *nats-streaming
    <<: *shared

  "node-6":
    docker:
      - image: circleci/node:6
      - <<: *zookeeper
      - <<: *elasticsearch
      - <<: *mongo
      - <<: *redis
      - <<: *kafka
      - <<: *mysql
      - <<: *postgres
      - <<: *mssql
      - <<: *rabbitmq
      - <<: *nats
      - <<: *nats-streaming
    <<: *shared

workflows:
  version: 2
  build:
    jobs:
      - "node-14"
      - "node-12"
      - "node-10"
      - "node-8"
      - "node-6"

