# See https://circleci.com/docs/2.0/language-javascript/ for docs.

version: 2.1

shared: &shared
  working_directory: ~/repo

  environment:
    - ELASTICSEARCH=127.0.0.1:9200
    - MONGODB=127.0.0.1:27017
    - ZOOKEEPER=127.0.0.1:2181
    - KAFKA=127.0.0.1:9092
    - REDIS=127.0.0.1:6379
    - MYSQL_HOST=127.0.0.1
    - MYSQL_PORT=3306
    - MYSQL_USER=node
    - MYSQL_PW=nodepw
    - MYSQL_DB=nodedb
    - POSTGRES_HOST=127.0.0.1
    - POSTGRES_USER=node
    - POSTGRES_PASSWORD=nodepw
    - POSTGRES_DB=nodedb
    - MEMCACHED=localhost:11211
    - MSSQL_HOST=localhost
    - MSSQL_PORT=1433
    - MSSQL_USER=sa
    - MSSQL_PW=stanCanHazMsSQL1

  steps:
    - checkout
    - run: node --version
    - run: npm --version

    - restore_cache:
        keys:
          - v{{ .Environment.CACHE_VERSION }}-collector-v2-root-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package-lock.json" }}

    - run: |
        if [[ $(node -v) =~ ^v16.*$ ]]; then
          npm install -g npm@latest --prefix=$HOME/.local
        else
          npm install -g npm@7.24.2 --prefix=$HOME/.local
        fi

    - run: npm --version
 
    - run: npm install --legacy-peer-deps

    #- run: cd misc/test-durations && npm install

    # Cache the node_modules folders for the next run (before potentially installing other module versions like grpc,
    # see below).
    - save_cache:
        paths:
          - node_modules
        key: v{{ .Environment.CACHE_VERSION }}-collector-v2-root-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package-lock.json" }}

    # Only run audit with the most recent Node.js version - one Node version is enough.
    - run: "([[ $(node -v) =~ ^v16.*$ ]] && npm run audit) || [[ ! $(node -v) =~ ^v16.*$ ]]"

    # Check if all commits since the last release comply with the format that conventional-commit understands. This
    # makes sure that lerna version (with the "conventionalCommits" option set in lerna.json) can correctly determin the
    # next version number and generate changelogs.
    #- run: "([[ $(node -v) =~ ^v16.*$ ]] && node_modules/.bin/commitlint --from $(git describe --tags --abbrev=0)) || [[ ! $(node -v) =~ ^v16.*$ ]]"

    # Run linting first, we don't want to wait ages for the test suite to finish only to end the CI job with a linting
    # error.
    #- run: npm run lint

    # Run the test suites.
    # (Use ulimit to remove the file size limit on core dump files before running tests.)
    # The ci_glob_setup.sh script designates which files should be tested in each CircleCI process.
    # As the reported files include the aboslute path, we want to get rid of them. We do that after the test finishes.
    - run: |
        ulimit -c unlimited
        . ./bin/ci_glob_setup.sh
        npm test --w packages/shared-metrics

    - store_test_results:
        path: test-results

    - run: node misc/test-durations/ci

    - run:
        # save core dumps in case there have been any
        command: |
          mkdir -p /tmp/core_dumps
          cp core.* /tmp/core_dumps || :
          cp packages/shared-metrics/core.* /tmp/core_dumps || :
          cp packages/autoprofile/core.* /tmp/core_dumps || :
          cp packages/aws-fargate/core.* /tmp/core_dumps || :
          cp packages/aws-lambda-auto-wrap/core.* /tmp/core_dumps || :
          cp packages/aws-lambda/core.* /tmp/core_dumps || :
          cp packages/collector/core.* /tmp/core_dumps || :
          cp packages/core/core.* /tmp/core_dumps || :
          cp packages/google-cloud-run/core.* /tmp/core_dumps || :
          cp packages/legacy-sensor/core.* /tmp/core_dumps || :
          cp packages/metrics-util/core.* /tmp/core_dumps || :
          cp packages/serverless/core.* /tmp/core_dumps || :
          cp packages/shared-metrics/core.* /tmp/core_dumps || :
        when: on_fail
    - store_artifacts:
        path: /tmp/core_dumps
    - store_artifacts:
        path: test-results
    - store_artifacts:
        path: test-duration-breakdown

    - save_cache:
        paths:
          - packages/collector/test/apps/babel-typescript/node_modules
        key: v{{ .Environment.CACHE_VERSION }}-babel-typescript-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "packages/collector/test/apps/babel-typescript/package-lock.json" }}

elasticsearch: &elasticsearch
  - image: docker.elastic.co/elasticsearch/elasticsearch:7.6.2
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms500m -Xmx500m"

kafka: &kafka
  - image: wurstmeister/kafka:2.12-2.2.1
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1
      KAFKA_CREATE_TOPICS: "test:1:1,test-topic-1:1:1,test-topic-2:1:1,test-batch-topic-1:1:1,test-batch-topic-2:1:1"
      KAFKA_ZOOKEEPER_CONNECT: 127.0.0.1:2181

mongo: &mongo
  - image: circleci/mongo:4.1.13

mssql: &mssql
  - image: mcr.microsoft.com/mssql/server:2019-CU11-ubuntu-20.04
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: stanCanHazMsSQL1

mysql: &mysql
  - image: circleci/mysql:8.0.1
    environment:
      MYSQL_ROOT_PASSWORD: nodepw
      MYSQL_DATABASE: nodedb
      MYSQL_USER: node
      MYSQL_PASSWORD: nodepw
      MYSQL_ROOT_HOST: 0.0.0.0

postgres: &postgres
  - image: circleci/postgres:10.9-alpine
    environment:
      POSTGRES_USER: node
      POSTGRES_PASSWORD: nodepw
      POSTGRES_DB: nodedb

rabbitmq: &rabbitmq
  - image: circleci/rabbitmq:3.7.7

redis: &redis
  - image: circleci/redis:4.0.14-alpine

zookeeper: &zookeeper
  - image: wurstmeister/zookeeper:latest

nats: &nats
  - image: nats:2.0.2-linux

nats-streaming: &nats-streaming
  - image: nats-streaming:0.15.1-linux
    command: -p 4223 -m 8223

memcached: &memcached
  - image: memcached:1.6.9

jobs:
  "node-16":
    docker:
      - image: circleci/node:16
      - <<: *zookeeper
      - <<: *elasticsearch
      - <<: *mongo
      - <<: *redis
      - <<: *kafka
      - <<: *mysql
      - <<: *postgres
      - <<: *mssql
      - <<: *rabbitmq
      - <<: *nats
      - <<: *nats-streaming
      - <<: *memcached
    <<: *shared
    parallelism: 4

  "node-14":
    docker:
      - image: circleci/node:14
      - <<: *zookeeper
      - <<: *elasticsearch
      - <<: *mongo
      - <<: *redis
      - <<: *kafka
      - <<: *mysql
      - <<: *postgres
      - <<: *mssql
      - <<: *rabbitmq
      - <<: *nats
      - <<: *nats-streaming
      - <<: *memcached
    <<: *shared
    parallelism: 4

  "node-12":
    docker:
      - image: circleci/node:12
      - <<: *zookeeper
      - <<: *elasticsearch
      - <<: *mongo
      - <<: *redis
      - <<: *kafka
      - <<: *mysql
      - <<: *postgres
      - <<: *mssql
      - <<: *rabbitmq
      - <<: *nats
      - <<: *nats-streaming
      - <<: *memcached
    <<: *shared
    parallelism: 4

  "node-10":
    docker:
      - image: circleci/node:10
      - <<: *zookeeper
      - <<: *elasticsearch
      - <<: *mongo
      - <<: *redis
      - <<: *kafka
      - <<: *mysql
      - <<: *postgres
      - <<: *mssql
      - <<: *rabbitmq
      - <<: *nats
      - <<: *nats-streaming
      - <<: *memcached
    <<: *shared
    parallelism: 4

workflows:
  version: 2
  build:
    jobs:
      - "node-16"
      #- "node-14"
      #- "node-12"
      #- "node-10"