version: '3'

services:
  node:
    image: node-22.9.0-instana
    networks:
      node-agent-network:
        aliases:
          - node
    environment:
      - INSTANA_AGENT_HOST=agent
    expose:
      - 3333
    ports:
      - 3333:3333
    depends_on:
      - agent

  agent:
    image: icr.io/instana/agent:latest
    pid: "host"
    privileged: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /dev:/dev
      - /sys:/sys
      - /var/log:/var/log
    networks:
      node-agent-network:
        aliases:
          - instana-agent
    environment:
      - INSTANA_AGENT_ENDPOINT=${agent_endpoint:?No agent endpoint provided}
      - INSTANA_AGENT_ENDPOINT_PORT=${agent_endpoint_port:-443}
      - INSTANA_AGENT_KEY=${agent_key:?No agent key provided}
      - INSTANA_DOWNLOAD_KEY=${download_key:-}
      - INSTANA_AGENT_ZONE=${agent_zone:-instana-nodejs-example-dockerfiles}          
    expose:
      - 42699

networks:
  node-agent-network: {}
