apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: echo-env
spec:
  params:
    - name: node-version
      value: $(params.node-version)
    - name: npm-version
      value: $(params.npm-version)
    - name: prerelease
      value: $(params.prerelease)   
    - name: prerelease-node-version
      value: $(params.prerelease-node-version)
  workspaces:
    - name: output
      mountPath: /artifacts
  steps:
    - name: execute
      image: node:$(params.node-version)
      script: |
        #!/bin/bash
        ARTIFACTS_PATH="$(workspaces.output.path)"
        cd $ARTIFACTS_PATH

        if [ "$(params.prerelease)" == "true" ]; then
          bin/install-prerelease.sh "$(params.prerelease-node-version)"
          source "$HOME/.nvm/nvm.sh"
          nvm use "$(params.prerelease-node-version)" > /dev/null 
        fi

        if [ -n "$(params.npm-version)" ]; then
          npm install npm@$(params.npm-version) -g
        fi

        echo "Using node: $(node --version)"
        echo "Using NPM: $(npm --version)"
