apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: execute-tools
spec:
  envFrom:
    - configMapRef:
        name: environment-properties
  params:
    - name: node-version
      value: $(params.node-version)
    - name: npm-version
      value: $(params.npm-version)
    - name: target-branch
      value: $(params.target-branch)
    - name: continuous-delivery-context-secret
      value: $(params.continuous-delivery-context-secret)      
  workspaces:
    - name: output
      mountPath: /artifacts
  steps:
    - name: audit
      image: public.ecr.aws/docker/library/node:$(params.node-version)
      imagePullPolicy: IfNotPresent
      script: |
        #!/bin/bash
        
        ARTIFACTS_PATH="$(workspaces.output.path)"
        cd $ARTIFACTS_PATH

        if [ -n "$(params.npm-version)" ]; then
          npm install npm@$(params.npm-version) -g
        fi

        npm run audit

        if [ $? -eq 0 ]; then
          touch audit.succeeded
        else
          touch audit.failed
          exit 1
        fi        
    - name: lint
      image: public.ecr.aws/docker/library/node:$(params.node-version)
      imagePullPolicy: IfNotPresent
      script: |
        #!/bin/bash

        ARTIFACTS_PATH="$(workspaces.output.path)"
        cd $ARTIFACTS_PATH

        if [ -n "$(params.npm-version)" ]; then
          npm install npm@$(params.npm-version) -g
        fi

        npm run lint

        if [ $? -eq 0 ]; then
          touch lint.succeeded
        else
          touch lint.failed
          exit 1
        fi
    - name: commitlint
      image: public.ecr.aws/docker/library/node:$(params.node-version)
      imagePullPolicy: IfNotPresent
      script: |
        #!/bin/bash

        ARTIFACTS_PATH="$(workspaces.output.path)"
        cd $ARTIFACTS_PATH

        if [ -n "$(params.npm-version)" ]; then
          npm install npm@$(params.npm-version) -g
        fi

        node_modules/.bin/commitlint --from $(git describe --tags --abbrev=0)

        if [ $? -eq 0 ]; then
          touch commitlint.succeeded
        else
          touch commitlint.failed
          exit 1
        fi
    - name: depcheck
      image: public.ecr.aws/docker/library/node:$(params.node-version)
      imagePullPolicy: IfNotPresent
      script: |
        #!/bin/bash

        ARTIFACTS_PATH="$(workspaces.output.path)"
        cd $ARTIFACTS_PATH

        if [ -n "$(params.npm-version)" ]; then
          npm install npm@$(params.npm-version) -g
        fi

        npm run depcheck

        if [ $? -eq 0 ]; then
          touch depcheck.succeeded
        else
          touch depcheck.failed
          exit 1
        fi
    - name: clean-aws
      env:
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: $(params.continuous-delivery-context-secret)
              key: "AWS_ACCESS_KEY_ID"
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: $(params.continuous-delivery-context-secret)
              key: "AWS_SECRET_ACCESS_KEY"
      image: public.ecr.aws/docker/library/node:$(params.node-version)
      imagePullPolicy: IfNotPresent
      script: |
        #!/bin/bash

        ARTIFACTS_PATH="$(workspaces.output.path)"
        cd $ARTIFACTS_PATH

        if [ -n "$(params.npm-version)" ]; then
          npm install npm@$(params.npm-version) -g
        fi

         bin/clean-aws.js --service=s3
        bin/clean-aws.js --service=dynamodb
        bin/clean-aws.js --service=sqs
        bin/clean-aws.js --service=kinesis        
    - name: download-cache
      env:
        - name: API_KEY
          valueFrom:
            secretKeyRef:
              name: $(params.continuous-delivery-context-secret)
              key: "apikey"
              optional: true
      image: public.ecr.aws/docker/library/node:$(params.node-version)
      imagePullPolicy: IfNotPresent
      script: |
        #!/bin/bash

        ARTIFACTS_PATH="$(workspaces.output.path)"
        cd $ARTIFACTS_PATH

        # Install IBM Cloud CLI
        echo "Installing IBM Cloud CLI..."
        curl -fsSL https://clis.cloud.ibm.com/install/linux | sh > /dev/null
        ibmcloud plugin install cloud-object-storage -f -r 'IBM Cloud' > /dev/null
        ibmcloud login -a https://cloud.ibm.com -r eu-de --apikey $API_KEY

        # Try to download daily cache
        TODAY=$(date +%F)
        CACHE_KEY="npm-cache-apps-$TODAY"
        echo "Checking for daily cache: $CACHE_KEY"

        mkdir -p .npm-offline-cache

        if ibmcloud cos download --bucket npm-cache --key "$CACHE_KEY.tar.zst" "npm-cache.tar.zst"; then
           echo "Downloaded daily cache."
           apt-get update -y > /dev/null && apt-get install -y zstd > /dev/null
           zstd -d npm-cache.tar.zst -o npm-cache.tar
           tar -xf npm-cache.tar
           rm npm-cache.tar npm-cache.tar.zst
        else
           echo "Daily cache not found. Will populate it."
        fi

    - name: generate-test-folders
      image: public.ecr.aws/docker/library/node:$(params.node-version)
      imagePullPolicy: IfNotPresent
      script: |
        #!/bin/bash

        ARTIFACTS_PATH="$(workspaces.output.path)"
        cd $ARTIFACTS_PATH

        if [ -n "$(params.npm-version)" ]; then
          npm install npm@$(params.npm-version) -g
        fi

        # Generate Test Folders
        echo "Generating version test folders..."
        CI=true node bin/create-version-test-folders.js