apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: reservation-task
spec:
  params:
    - name: node-version
      value: $(params.node-version)
  workspaces:
    - name: output
      mountPath: /artifacts
  steps:
    - name: sleep-and-hold
      image: public.ecr.aws/docker/library/node:$(params.node-version)
      imagePullPolicy: IfNotPresent
      resources:
        requests:
          cpu: "70"
          memory: "200Gi"
      script: |
        #!/bin/sh
        echo "Started resource reservation..."

        # 60min timeout
        MAX_RETRIES=720
        COUNT=0

        while [ ! -f /artifacts/pipeline_finished ] && [ $COUNT -lt $MAX_RETRIES ]; do
          sleep 5
          COUNT=$((COUNT + 1))
        done

        if [ $COUNT -ge $MAX_RETRIES ]; then
          echo "Timed out. No end signal received after 60 minutes. Cleaning up."
        else
          echo "End signal received. Cleaning up."
          rm -f /artifacts/pipeline_finished
        fi

        echo "Resource reservation ended."
