apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: save-cache
spec:
  params:
    - name: continuous-delivery-context-secret
      default: secure-properties
    - name: ibmcloud-apikey-secret-key
      default: apikey
    - name: target-branch
      value: $(params.target-branch)
    - name: node-version
      value: $(params.node-version)     
    - name: prerelease
      value: $(params.prerelease)    
  workspaces:
    - name: output
      mountPath: /artifacts
  steps:
    - name: save-cache
      image: public.ecr.aws/docker/library/node:$(params.node-version)
      env:
        - name: API_KEY
          valueFrom:
            secretKeyRef:
              name: $(params.continuous-delivery-context-secret)
              key: $(params.ibmcloud-apikey-secret-key)
              optional: true
      script: |
        #!/bin/bash
        ARTIFACTS_PATH="$(workspaces.output.path)"
        cd $ARTIFACTS_PATH

        # We do not want to cache the prerelease node modules as we might change the node version inside container.
        # The node modules are stored along with branch and pre defined node version of the container (e.g. node-modules-main-20).
        # That might break the target pipeline because its using a wrong node_modules installation.
        if [ "$(params.prerelease)" != "true" ] && [ ! -e "node-modules.tar.zst" ]; then
          echo "Saving node_modules cache..."

          curl -fsSL https://clis.cloud.ibm.com/install/linux | sh
          ibmcloud plugin install cloud-object-storage -f -r 'IBM Cloud'
          ibmcloud login -a https://cloud.ibm.com -r eu-de --apikey $API_KEY

          apt-get update -y
          apt-get install zstd -y

          # Remove any cached npm files before zipping
          find node_modules \( -name '.*' ! \( -path "node_modules/.bin" -o -path "node_modules/.package-lock.json" -o -path "node_modules/.cache*" \) \) -exec rm -rf {} +
          find node_modules -type f -name '.*' ! \( -path "node_modules/.bin" -o -path "node_modules/.package-lock.json" \) -exec rm -f {} +

          tar -cf - node_modules | zstd -o node-modules.tar.zst

          checksum=$(sha256sum package-lock.json | awk '{print $1}')
          ibmcloud cos upload --bucket npm-cache --key node-modules-$(params.target-branch)-$(params.node-version)-$checksum --file ./node-modules.tar.zst

          echo "Uploaded root node_modules cache"
          
          # Iterate over packages/*/ directories
          for package_dir in packages/*; do   
            if [ -d "$ARTIFACTS_PATH/$package_dir" ]; then
              cd $ARTIFACTS_PATH/$package_dir
              package_name=$(basename "$package_dir")
              pkg_name="node-modules-$(params.target-branch)-$(params.node-version)-$package_name-$checksum"
              rm -rf $pkg_name.tar.zst

              echo "Saving cache for $pkg_name"

              tar -cf - node_modules | zstd -o "$pkg_name.tar.zst"              
              ibmcloud cos upload --bucket npm-cache --key $pkg_name --file "./$pkg_name.tar.zst"
            fi
          done

          echo "Saved node_modules cache..."
        else
          echo "Nope, we do not cache."
          echo $(ls -lah)
        fi