apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: upload-currency-report
spec:
  params:
    - name: continuous-delivery-context-secret
      default: secure-properties
    - name: type
      value: $(params.type)
    - name: node-version
      value: $(params.node-version)
  workspaces:
    - name: output
      mountPath: /artifacts
  steps:
    - name: execute
      image: public.ecr.aws/docker/library/node:$(params.node-version)
      imagePullPolicy: IfNotPresent
      env:
        - name: GH_ENTERPRISE_TOKEN
          valueFrom:
            secretKeyRef:
              name: $(params.continuous-delivery-context-secret)
              key: "GH_ENTERPRISE_TOKEN"
      script: |
        #!/bin/bash

        if [ "$(params.type)" != "main" ]; then
          echo "Skipping uploading the currency report. This is not the main pipeline."
        else
          ARTIFACTS_PATH="$(workspaces.output.path)"
          cd $ARTIFACTS_PATH

          echo "Generating report..."
          node bin/dependencies/currency/generate-currency-report.js
          echo "Generated report..."

          # Key Name: Tracer Reports 041425
          git clone https://oauth2:$GH_ENTERPRISE_TOKEN@github.ibm.com/instana/tracer-reports.git tracer-reports
          cd tracer-reports
          
          git pull origin main
          cp ../currency-report.md ./automated/currency/nodejs/report.md

          git config user.name "Instanacd PAT for GitHub Enterprise"
          git config user.email instana.ibm.github.enterprise@ibm.com
          
          git add .
          
          git commit -m "chore: updated node.js currency report"
          git push origin main
        fi


