apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: test-ci-opentelemetry-sampler-coverage
spec:
  sidecars:
  envFrom:
    - configMapRef:
        name: environment-properties  
  params:
    - name: node-version
      value: $(params.node-version)
    - name: npm-version
      value: $(params.npm-version)
    - name: repository
      value: $(params.repository)
    - name: revision
      value: $(params.revision)
    - name: continuous-delivery-context-secret
      value: $(params.continuous-delivery-context-secret)
    - name: ibmcloud-apikey-secret-key
      default: apikey
    - name: target-branch
      value: $(params.target-branch)      
  workspaces:
    - name: output
      mountPath: /artifacts
  steps:
    - name: run-test-group
      env:
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: $(params.continuous-delivery-context-secret)
              key: "AWS_ACCESS_KEY_ID"
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: $(params.continuous-delivery-context-secret)
              key: "AWS_SECRET_ACCESS_KEY"              
        - name: DB2_CONNECTION_STR
          valueFrom:
            secretKeyRef:
              name: $(params.continuous-delivery-context-secret)
              key: "DB2_CONNECTION_STR"
        - name: GOOGLE_APPLICATION_CREDENTIALS_CONTENT
          valueFrom:
            secretKeyRef:
              name: $(params.continuous-delivery-context-secret)
              key: "GOOGLE_APPLICATION_CREDENTIALS_CONTENT"
        - name: AZURE_SQL_PWD
          valueFrom:
            secretKeyRef:
              name: $(params.continuous-delivery-context-secret)
              key: "AZURE_SQL_PWD"
        - name: API_KEY
          valueFrom:
            secretKeyRef:
              name: $(params.continuous-delivery-context-secret)
              key: $(params.ibmcloud-apikey-secret-key)
              optional: true
      image: node:$(params.node-version)
      script: |
        #!/bin/bash
        ARTIFACTS_PATH="$(workspaces.output.path)"
        cd $ARTIFACTS_PATH
        BASE_REVISION=$(git rev-parse origin/main)
        CIRCLE_COMPARE_URL=""
        MODIFIED_FILES=""
        GIT_COMMIT_DESC=""
        if [ -n "$(params.npm-version)" ]; then
          npm install npm@$(params.npm-version) -g
        fi
        if [ -n "$(params.revision)" ]; then
          CIRCLE_COMPARE_URL="$(params.repository)/compare/$BASE_REVISION..$(params.revision)"
          MODIFIED_FILES=$(git diff-tree --no-commit-id --name-only -r $(echo ${CIRCLE_COMPARE_URL} | cut -d/ -f 7))
          GIT_COMMIT_DESC=$(git log --format=%B -n 1 $(params.revision))
        fi
        echo "BASE_REVISION: $BASE_REVISION"
        echo "CIRCLE_COMPARE_URL: $CIRCLE_COMPARE_URL"
        echo "MODIFIED_FILES: $MODIFIED_FILES"
        echo "GIT_COMMIT_DESC: $GIT_COMMIT_DESC"
        if echo "$GIT_COMMIT_DESC" | grep -q '\[ci reduced\]' && ! echo "$MODIFIED_FILES" | grep -q "packages/opentelemetry-sampler"; then
          echo "Skipping group."
          touch "test:ci:opentelemetry-sampler.succeeded"
          exit 0
        fi
        export CI=true
        export GCP_PROJECT="k8s-brewery"
        export AZURE_SQL_USERNAME="admin@instana@nodejs-db-server"
        export AZURE_SQL_SERVER="nodejs-db-server.database.windows.net"
        export AZURE_SQL_DATABASE="azure-nodejs-test"
        retry=1
        while [ $retry -le 3 ]; do
          npm run coverage-ci --npm_command="test:ci:opentelemetry-sampler" --report_dir="test-ci-opentelemetry-sampler-coverage"
          if [ $? -eq 0 ]; then
            touch "test:ci:opentelemetry-sampler.succeeded"
            apt-get update -y
            apt-get install zstd -y
            tar -cf - coverage/test-ci-opentelemetry-sampler-coverage/tmp | zstd -o test-ci-opentelemetry-sampler-coverage.tar.zst   
            curl -fsSL https://clis.cloud.ibm.com/install/linux | sh
            ibmcloud plugin install cloud-object-storage -f -r 'IBM Cloud'
            ibmcloud login -a https://cloud.ibm.com -r eu-de --apikey $API_KEY
            ibmcloud cos upload --bucket coverage --key $(params.target-branch)-$BASE_REVISION-test-ci-opentelemetry-sampler-coverage --file ./test-ci-opentelemetry-sampler-coverage.tar.zst
            break
          else
            if [ $retry -eq 3 ]; then
              touch "test:ci:opentelemetry-sampler.failed"
              exit 1
            fi
            retry=$((retry + 1))
          fi
        done